.container {
    background-color: white

}
.container h1 {
    text-align: center;
    margin-top: 50px;
}
.card {
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 10px rgb(193, 196, 197);
}
.row_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 25px;
    padding-bottom: 25px;
}
.row_1 input {
    /* flex: 1; */
    border: none;
    outline: none;
    font-size: 15px;
    height: 35px;
}
#add {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    font: bold;
    border-radius: 5px;
    height: 35px;
    width: 45px;
}
ul li {
    position: relative;
    padding: 5px 5px 15px;
    font-size: 17px;
    text-decoration: none;
    list-style: none;

}

ul li.task::before {
    text-decoration: line line-through;
}


.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}



label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    cursor: pointer;
}
.task-text::after {
    content: '';
    text-decoration: line-through;

}

.task-text::before {
    font-size: 16px;
    color: #333;
    
}

.edit_btn {
    display: flex;
    gap: 8px;
}

.edit_btn button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

}
.edit_btn .delete {
    color: red;
}
.edit {
    color: blue;
}
